/* adding some fonts */
@font-face {
    font-family: IRANSans;
    src: url("../zoomg/IRANSansWeb_Medium.woff2") format('woff2');
}
@font-face {
    font-family: yekan;
    src: url("../zoomg/yekan.woff") format('woff');
}
/* universal properties ***************************/
.content-in-center{
    width: 1168px;
    overflow: hidden;
    margin: 0 auto;
}
/* main divs *************************************/
body{
    font-size: 15px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 34px;
    color: #333;
    font-family: yekan,tahoma,arial !important;
    margin: 0;
    background: white;
    z-index: 0;
    min-width: 1263px;
    direction: rtl;
}
#header-head{
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 5;
    position: relative;
}
#div-main{
    width: 100%;
    background-image: url("../Zoomg/The_Good_Dinosaur_Promo_Art_03ss.jpg");
    background-repeat: no-repeat;
    background-color: #d2d2d8;
    overflow: hidden;
    z-index: 0;
    position: relative;
    background-position: center top;
    background-size: 100% 1024px;
}
#footer-foot{
    width: 100%;
    overflow: hidden;
    background-color: black;
}
#footer-copyright{
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
}
/* header div **************************************/
.simple-header-div{
    padding: 20px 1% 20px 1%;
    margin: 0;
    display: inline-block;
    width: 31%;
    float: right;
}
.simple-header-div > object{
    width: 100%;
    height: 60px;
    display: inline-block;
}
#top-logo{
    height: 90px;
    float: left;
}
.simple-header-div:nth-of-type(3){
    padding-top: 0;
}
/* complex header **********************************/
.complex-header{
    width: 100%;
    background-color: #282829;
    border-top: 1px solid #46464a;
    z-index: 5;
    position: relative;
    color: white;
    height: 60px;
}
.complex-header > nav{
    overflow: hidden;
}
.complex-header > nav:hover{
    overflow: hidden;
    height: 500px;
}
.complex-header > nav > ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 60px;
    /*background-color: yellow;*/
    position: relative;
    width: 85%;
}
.complex-header > nav > ul > li{
    display: inline-block;
    height:100%;
    margin: 0;
    /*background-color: red;*/
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    float: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.complex-header > nav > ul > li:hover{
    background-color: #343437;
}

.complex-header > nav > ul > li:first-child{
    line-height: 15.5px;
}
.complex-header > nav > ul > li >img{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0;
}
.complex-header > nav > ul > li:first-child >img{
    width: 11px;
    height: 11px;
}
.complex-header > nav > ul > li >p{
    width: 100%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    font-weight: 300;
}
.complex-header > nav > ul > li >h1{
    width: 100%;
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 20px;
}
.complex-header > nav > ul > li:first-child >h1{
    position: relative;
    bottom: 0;
    padding-top: 10px;
}
.complex-header > nav > ul > li:nth-of-type(2):hover{
    border-top: 5px solid #f26547;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(3):hover{
    border-top: 5px solid #00c8f8;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(4):hover{
    border-top: 5px solid #7822cf;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(5):hover{
    border-top: 5px solid #0fb700;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(6):hover{
    border-top: 5px solid #ffc33c;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(7):hover{
    border-top: 5px solid #dd3333;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(8):hover{
    border-top: 5px solid #46c9c5;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(9):hover{
    border-top: 5px solid #444447;
    height: 91%;
}

.complex-header > nav > ul > li:nth-of-type(9){
    /*background-color: #4195fc;*/
    padding: 0;
    width: 10%;
}
.complex-header > nav > ul > li:nth-of-type(9) >h1{
    width: 70%;
    display: inline-block;
    float: right;
    font-size: 14px;
    position: relative;
    top: 10px;
    bottom: 0;
}
.complex-header > nav > ul > li:nth-of-type(9) >img{
    width: 20%;
    float: left;
    position: relative;
    top: 25px;
    left: 15%;
    bottom: 0;
}
/***************************************************/
.menu{
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    width: 1168px;
    z-index: 6;
    background-color: #202022;
}
.menu > aside{
    width: 15%;
    float: right;
    height: 100%;
    padding: 20px 0 30px 0;
}
.menu > aside > ul{
    display: inline-block;
    width: 100%;
    padding: 0 5% 0 5%;
    margin: 0;
}
.menu > aside > ul > li{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu > aside > ul > li h2 {
    display: inline-block;
    width: 100%;
    font-family: yekan, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.menu > aside > ul > li h1 {
    display: inline-block;
    width: 100%;
    font-family: yekan, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.menu > section{
    overflow: hidden;
    width: 84.5%;
    float: left;
    background-color: white;
    position: relative;
    bottom: 0;
}
.menu > section > ul{
    display: inline-block;
    width: 100%;
    padding: 0%;
    direction: rtl;
}
.menu > section > ul > li{
    display: inline-block;
    margin: 0;
    padding: 20px 1.5% 20px 1.5%;
    float: right;
    width: 16.9%;
    text-align: center;
    word-wrap: break-word;
}
.menu > section > ul > li img{
    display: inline-block;
    width: 100%;
    height: 50%;
}
.menu > section > ul > li h1{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3f3f3f;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.menu > section h2{
    display: inline-block;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    bottom: 20px;
    left: 1.5%;
    margin: 0;
}
.m2:hover + .menu-2{
    visibility: initial;
}
.menu-2:hover {
    visibility: initial;
}
.menu-2 h2{
    color: #f26547;
}
.menu-2 > section{
    height: 380px;
}
/****/
.m3:hover + .menu-3{
    visibility: initial;
}
.menu-3:hover {
    visibility: initial;
}
.menu-3 h2{
    color: #00c8f8;
}
.menu-3 > section{
    height: 415px;
}
/****/
.m4:hover + .menu-4{
    visibility: initial;
}
.menu-4:hover {
    visibility: initial;
}
.menu-4 h2{
    color: #7822cf;
}
.menu-4 > section{
    height: 380px;
}
/****/
.m5:hover + .menu-5{
    visibility: initial;
}
.menu-5:hover {
    visibility: initial;
}
.menu-5 h2{
    color: #0fb700;
}
.menu-5 > section{
    height: 380px;
}
/****/
.m6:hover + .menu-6{
    visibility: initial;
}
.menu-6:hover {
    visibility: initial;
}
.menu-6 h2{
    color: #ffc33c;
}
.menu-6 > section{
    height: 380px;
}
/****/
.m7:hover + .menu-7{
    visibility: initial;
}
.menu-7:hover {
    visibility: initial;
}
.menu-7 h2{
    color: #dd3333;
}
.menu-7 > section{
    height: 380px;
}
/****/
.m8:hover + .menu-8{
    visibility: initial;
}
.menu-8:hover {
    visibility: initial;
}
.menu-8 h2{
    color: #46c9c5;
}
.menu-8 > section{
    height: 380px;
}
/****/
.end-of-header-icon{
    display: inline-block;
    float: left;
    margin: 15px 0 0 0;
    padding: 0;
}
/*******/
#logo-in-fix-header{
    float: right;
}
#fixed-header-ul > li{
    padding-left: 0.5%;
    padding-right: 0.5%;
}
#fixed-header-ul > li:nth-of-type(1){
    line-height: 15.5px;
}
#fixed-header-ul > li:nth-of-type(1) >img{
    width: 11px;
    height: 11px;
}
#fixed-header-ul > li:nth-of-type(1) >h1{
    position: relative;
    bottom: 0;
    padding-top: 10px;
}
#fixed-header{
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}
/* main ********************************************/
/*main div background*******************************/
#cover-main-layer{
    background-image: linear-gradient(to bottom, rgba(210, 210, 216, 0) 30%, rgba(210, 210, 216, 1) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-size: 100% 1024px;
    background-position: center top;
}
#cover-main-layer > header{
    overflow: hidden;
}
#cover-main-layer > header h1{
    color: #FFF;
    text-shadow: 1px 2px 2px rgba(0,0,0,1);
    font-size: 70px;
    line-height: 85px;
    font-family: yekan,sans-serif !important;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 15% 80px 15%;
}
#cover-main-layer > header img{
    width: 45px;
    height: 45px;
    border-radius: 50% 50%;
    box-shadow: 1px 2px 1px rgba(0,0,0,.8);
    border: 5px solid white;
}
#cover-main-layer > header h2{
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 1px 2px 1px rgba(0,0,0,.8);
    font-family: yekan,'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 32px;
}
#cover-main-layer > header h3{
    text-align: center;
    color: #FFF;
    text-shadow: 1px 2px 1px rgba(0,0,0,.8);
    font-size: 16px;
}
/*main page************************************/
#main-div{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
#main-div > section{
    padding: 0px 4% 0% 2%;
    display: inline-block;
    overflow: hidden;
    width: 60%;
    float: right;
}
#main-div > aside{
    width: 31.5%;
    padding: 250px 0 0 2%;
    display: inline-block;
    overflow: hidden;
    float: left;
}
/* main content **********************************/
.image-content{
    width: 100%;
    display: inline;
    float: left;
}
#specific-img{
    width: 50%;
    margin: 0 2% 0 0;
}
#main-content > p{
    margin: 0;
}
#main-content > h2{
    float: left;
    color: #FF2654;
    width: 35%;
    font-size: 25px;
    margin:  0 3% 0 0;
}
#main-content > h3{
    font-weight: 500;
}
#main-content > h3 > span{
    font-weight: 500;
    color: #FF2654;
}
#main-content{
    border-bottom: 1px solid #d4d4db;
}
/* side bar ****************************************/
/* title partition *********************************/
.title-partition{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #d4d4db;
    border-bottom: 1px solid #d4d4db;
    direction: rtl;
}
.title-partition > img{
    display: inline-block;
    float: right;
    height: 100%;
    width: 55%;
}
.title-partition-right{
    display: inline-block;
    width: 45%;
    float: right;
    background-color: #f6f6fb;
}
.title-partition-right > p{
    display: inline-block;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.title-partition-right > img{
    position: relative;
    top: 5px;
}
.title-partition-left{
     display: inline-block;
     width: 54.8%;
     float: left;
     background-color: #f7f8ff;
 }
.title-partition-left > p{
    display: inline-block;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    color: #9ba0af;
}
/*******/
#last-view-ul{
    margin: 0 0 50px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
#last-view-ul > li{
    margin: -11px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #d4d4db;
    color: white;
    overflow: hidden;
    position: relative;
}
#last-view-ul > li > img{
    width: 100%;
}
#last-view-ul > li > div{
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.6);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}
.magnifier-last-view{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 32px;
    height: 32px;
}
.people-last-view{
    position: absolute;
    bottom: 10px;
    right: 2%;
}
.people-no-last-view{
    position: absolute;
    right: 8%;
    bottom: 0;
    margin: 0;
}
.h1-last-view{
    font-size: 16px;
    padding-right: 2%;
    padding-left: 2%;
    line-height: 1.428571429;
    font-weight: 400;
    display: inline-block;
    float: right;
}
.rate-div{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #333;
    border-radius: 50%;
    border-width: 4px;
    position: relative;
    padding: 4px;
    margin: 5px 2%;
    float: right;
    border: 4px solid #333;
    background-image: linear-gradient(270deg, #ff2654 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #ff2654 50%, rgba(0, 0, 0, 0) 50%);
}
.rate-div > center{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 16px;
    background-color: #333;
}
.rate-div > center > h1{
    font-weight: 300;
    background-color: transparent;
}
#last-view-ul > li:nth-of-type(1){
    height: 210px;
}
#last-view-ul > li:nth-of-type(1) .h1-last-view{
    top:20px;
    right: 35%;
    float: none;
}
#last-view-ul > li:nth-of-type(1) .rate-div{
    position: absolute;
    top: 60px;
    right: 35%;
    float: none;
    background-image: linear-gradient(270deg, #ff2654 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(60deg, #ff2654 50%, rgba(0, 0, 0, 0) 50%);
}
#last-view-ul > li:nth-of-type(1) .magnifier-last-view{
    top: 0;
    right: 0;
    float: none;
}
/* cinema ***********************************************/
#cinema-ul{
    margin: 0 0 50px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
#cinema-ul > li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
#cinema-ul > li > aside{
    width: 35%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
#cinema-ul > li > section{
    width: 63%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    word-wrap: break-word;
}
#cinema-ul > li > aside >img:nth-of-type(1){
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
#cinema-ul > li > aside >img:nth-of-type(2){
    display: inline-block;
    margin: 0;
    width: 24px;
    height: 24px;
    padding: 0 5%;
    background: #333;
    float: right;
}
#cinema-ul > li > section > h1{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #343437;
    font-family: yekan,'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.date-authour{
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: #828282;
    margin: 0;
    padding: 0;
}
#cinema-ul > li >section > div p{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 15px;
    float: right;
    color: #CECEDA;
}
#cinema-ul > li >section > div img{
    float: right;
}
/***************/
#mini-title-part{
    width: auto;
}
/***************/
#all-part-ul{
    margin: 0 0 20px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
#all-part-ul > li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}
#all-part-ul > li > img{
    display: inline-block;
    width: 10%;
    margin: 0 0 0 4%;
    padding: 0;
    float: right;
}
#all-part-ul > li > p {
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000;
    line-height: 16px;
    display: inline-block;
    float: right;
}
#spef-left-title-partition{
    width: 40%;
    border: 1px solid #d4d4db;
    float: none;
    margin-bottom: 40px;
    display: block;
}
#spef-right-title-partition{
    width: 35%;
    border: 1px solid #d4d4db;
    float: none;
    margin-bottom: 20px;
    display: block;
    padding-right: 2%;
}
/***************************************************/
#from-zoomit{
    margin: 0 0 50px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
#from-zoomit > li{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}
#from-zoomit > li > h1{
    font-family: yekan,'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: 1.428571429;
}
#from-zoomit > li > h1:hover{
    color: #FF2654;
}
/* suggestion div ***************************************/
#suggestion-div{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}
#suggestion-ul {
    display: inline-block;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
    border-bottom: 1px solid #d4d4db;
}
#suggestion-ul > li {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#suggestion-ul > li > article{
    position: relative;
    width: 20%;
    display: inline-block;
    margin: 25px 0;
    float: right;
}
#suggestion-ul > li > article > img {
    width: 100%;
}
#suggestion-ul > li > article  > a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 45%,rgba(0,0,0,1) 100%);
}
#suggestion-ul > li > div {
    display: inline-block;
    width: 78%;
    margin: 25px 0;
    float: left;
}
#suggestion-ul > li > div > h1 {
    width: 100%;
    line-height: 28px;
    margin: 0 0 12px;
    font-size: 28px;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 100;
    display: inline-block;
}
#suggestion-ul > li > div > p {
    width: 100%;
}
#suggestion-ul > li > div > h2 {
    color: #333;
    font-size: 14px;
    font-family: yekan,Asap, sans-serif;
    line-height: 24px;
}
/* opinion div ***************************************/
#opinion-div{
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
}
#opinion-ul {
    display: inline-block;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
    border-bottom: 1px solid #d4d4db;
}
#opinion-ul > li {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#opinion-ul > li > img{
    width: 10%;
    display: inline-block;
    margin: 25px 0;
    float: right;
}
#opinion-ul > li > div {
    display: inline-block;
    width: 88%;
    margin: 25px 0;
    float: left;
}
#opinion-ul > li > div > h1 {
    line-height: 28px;
    margin: 0 0 12px 2%;
    font-size: 28px;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 100;
    display: inline-block;
}
#opinion-ul > li > div > h2 {
    font-size: 13px;
    color: #5B4B5B;
    line-height: 28px;
    margin: 10px 20px 0 0;
}
#opinion-ul > li > div > h3 {
    font-size: 12px;
    line-height: 1.428571429;
    color: #333;
}
#opinion-ul > li > div > h3:hover {
    color: #ba1414;
    cursor: pointer;
}
#force-login-p{
    margin: 0 0 50px 0;
}
#force-login-p > span:hover{
    color: #ba1414;
    cursor: pointer;
}
#opinion-div > footer h1{
    display: inline-block;
    margin-right: 1%;
}
#opinion-div > footer img{
    display: inline-block;
    margin-top: 10px;
}
/*******************************************************/