/* adding some fonts */
@font-face {
    font-family: IRANSans;
    src: url("../zoomg/IRANSansWeb_Medium.woff2") format('woff2');
}
@font-face {
    font-family: yekan;
    src: url("../zoomg/yekan.woff") format('woff');
}
/* universal properties ***************************/
.content-in-center{
    width: 1168px;
    overflow: hidden;
    margin: 0 auto;
}
/* main divs *************************************/
body{
    font-size: 15px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 34px;
    color: #333;
    font-family: yekan,tahoma,arial !important;
    margin: 0;
    background: white;
    z-index: 0;
    min-width: 1263px;
    direction: rtl;
}
#header-head{
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 5;
}
#div-main{
    width: 100%;
    background-image: url("../Zoomg/The_Good_Dinosaur_Promo_Art_03ss.jpg");
    background-repeat: no-repeat;
    background-color: #d2d2d8;
    overflow: hidden;
    z-index: 0;
    position: relative;
    height: 2000px;
    background-position: center top;
    background-size: 100% 1024px;
}
#footer-foot{
    width: 100%;
    overflow: hidden;
    background-color: black;
}
#footer-copyright{
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
}
/* header div **************************************/
.simple-header-div{
    padding: 20px 1% 20px 1%;
    margin: 0;
    display: inline-block;
    width: 31%;
    float: right;
}
.simple-header-div > object{
    width: 100%;
    height: 60px;
    display: inline-block;
}
#top-logo{
    height: 90px;
    float: left;
}
.simple-header-div:nth-of-type(3){
    padding-top: 0;
}
/* main ********************************************/
/* complex header **********************************/
.complex-header{
    width: 100%;
    background-color: #282829;
    border-top: 1px solid #46464a;
    z-index: 5;
    color: white;
    height: 60px;
}
.complex-header > nav{
    overflow: hidden;
    height: 550px;
}
.complex-header > nav > ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 60px;
    /*background-color: yellow;*/
    position: relative;
    width: 85%;
}
.complex-header > nav > ul > li{
    display: inline-block;
    height:100%;
    margin: 0;
    /*background-color: red;*/
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    float: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.complex-header > nav > ul > li:hover{
    background-color: #343437;
}

.complex-header > nav > ul > li:first-child{
    line-height: 15.5px;
}
.complex-header > nav > ul > li >img{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0;
}
.complex-header > nav > ul > li:first-child >img{
    width: 11px;
    height: 11px;
}
.complex-header > nav > ul > li >p{
    width: 100%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    font-weight: 300;
}
.complex-header > nav > ul > li >h1{
    width: 100%;
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 20px;
}
.complex-header > nav > ul > li:first-child >h1{
    position: relative;
    bottom: 0;
    padding-top: 10px;
}
.complex-header > nav > ul > li:nth-of-type(2):hover{
    border-top: 5px solid #f26547;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(3):hover{
    border-top: 5px solid #00c8f8;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(4):hover{
    border-top: 5px solid #7822cf;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(5):hover{
    border-top: 5px solid #0fb700;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(6):hover{
    border-top: 5px solid #ffc33c;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(7):hover{
    border-top: 5px solid #dd3333;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(8):hover{
    border-top: 5px solid #46c9c5;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(9):hover{
    border-top: 5px solid #444447;
    height: 91%;
}

.complex-header > nav > ul > li:nth-of-type(9){
    /*background-color: #4195fc;*/
    padding: 0;
    width: 10%;
}
.complex-header > nav > ul > li:nth-of-type(9) >h1{
    width: 70%;
    display: inline-block;
    float: right;
    font-size: 14px;
    position: relative;
    top: 10px;
    bottom: 0;
}
.complex-header > nav > ul > li:nth-of-type(9) >img{
    width: 20%;
    float: left;
    position: relative;
    top: 25px;
    left: 15%;
    bottom: 0;
}
/***************************************************/
.menu{
    overflow: hidden;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 1168px;
    z-index: 6;
    background-color: #202022;
}
.menu > aside{
    width: 15%;
    float: right;
    height: 100%;
    padding: 20px 0 30px 0;
}
.menu > aside > ul{
    display: inline-block;
    width: 100%;
    padding: 0 5% 0 5%;
    margin: 0;
}
.menu > aside > ul > li{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu > aside > ul > li h2 {
     display: inline-block;
     width: 100%;
     font-family: yekan, sans-serif;
     font-weight: 700;
     font-size: 13px;
     line-height: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.menu > aside > ul > li h1 {
    display: inline-block;
    width: 100%;
    font-family: yekan, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.menu > section{
    overflow: hidden;
    width: 84.5%;
    float: left;
    background-color: white;
    position: relative;
    bottom: 0;
}
.menu > section > ul{
    display: inline-block;
    width: 100%;
    padding: 0%;
    direction: rtl;
}
.menu > section > ul > li{
    display: inline-block;
    margin: 0;
    padding: 20px 1.5% 20px 1.5%;
    float: right;
    width: 16.9%;
    text-align: center;
    word-wrap: break-word;
}
.menu > section > ul > li img{
    display: inline-block;
    width: 100%;
    height: 50%;
}
.menu > section > ul > li h1{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3f3f3f;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.menu > section h2{
    display: inline-block;
    font-family: yekan, 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    bottom: 20px;
    left: 1.5%;
    margin: 0;
}
.m2:hover + .menu-2{
    display: initial;
}
.menu-2:hover {
    display: initial;
}
.menu-2 h2{
    color: #f26547;
}
.menu-2 > section{
    height: 380px;
}
/****/
.m3:hover + .menu-3{
    display: initial;
}
.menu-3:hover {
    display: initial;
}
.menu-3 h2{
    color: #00c8f8;
}
.menu-3 > section{
    height: 415px;
}
/****/
.m4:hover + .menu-4{
    display: initial;
}
.menu-4:hover {
    display: initial;
}
.menu-4 h2{
    color: #7822cf;
}
.menu-4 > section{
    height: 380px;
}
/****/
.m5:hover + .menu-5{
    display: initial;
}
.menu-5:hover {
    display: initial;
}
.menu-5 h2{
    color: #0fb700;
}
.menu-5 > section{
    height: 380px;
}
/****/
.m6:hover + .menu-6{
    display: initial;
}
.menu-6:hover {
    display: initial;
}
.menu-6 h2{
    color: #ffc33c;
}
.menu-6 > section{
    height: 380px;
}
/****/
.m7:hover + .menu-7{
    display: initial;
}
.menu-7:hover {
    display: initial;
}
.menu-7 h2{
    color: #dd3333;
}
.menu-7 > section{
    height: 380px;
}
/****/
.m8:hover + .menu-8{
    display: initial;
}
.menu-8:hover {
    display: initial;
}
.menu-8 h2{
    color: #46c9c5;
}
.menu-8 > section{
    height: 380px;
}
/****/
.end-of-header-icon{
    display: inline-block;
    float: left;
    margin: 15px 0 0 0;
    padding: 0;
}
/*main div background*******************************/
#cover-main-layer{
    background-image: linear-gradient(to bottom, rgba(210, 210, 216, 0) 30%, rgba(210, 210, 216, 1) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: 100% 1024px;
    background-position: center top;
}
