/* adding some fonts */
@font-face {
    font-family: IRANSans;
    src: url("../zoomg/IRANSansWeb_Medium.woff2") format('woff2');
}
@font-face {
    font-family: yekan;
    src: url("../zoomg/yekan.woff") format('woff');
}
/* universal properties ***************************/
.content-in-center{
    width: 1168px;
    overflow: hidden;
    margin: 0 auto;
}
/* main divs *************************************/
body{
    font-size: 15px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 34px;
    color: #333;
    font-family: yekan,tahoma,arial !important;
    margin: 0;
    background: white;
    z-index: 0;
    min-width: 1263px;
    direction: rtl;
}
#header-head{
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 5;
}
#div-main{
    width: 100%;
    background-image: url("../Zoomg/The_Good_Dinosaur_Promo_Art_03ss.jpg");
    background-repeat: no-repeat;
    background-color: #d2d2d8;
    overflow: hidden;
    z-index: 0;
    position: relative;
    height: 2000px;
    background-position: center top;
    background-size: 100% 1024px;
}
#footer-foot{
    width: 100%;
    overflow: hidden;
    background-color: black;
}
#footer-copyright{
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
}
/* header div **************************************/
.simple-header-div{
    padding: 20px 1% 20px 1%;
    margin: 0;
    display: inline-block;
    width: 31%;
    float: right;
}
.simple-header-div > object{
    width: 100%;
    height: 60px;
    display: inline-block;
}
#top-logo{
    height: 90px;
    float: left;
}
.simple-header-div:nth-of-type(3){
    padding-top: 0;
}
/* main ********************************************/
/* complex header **********************************/
.complex-header{
    width: 100%;
    background-color: #282829;
    border-top: 1px solid #46464a;
    z-index: 5;
    color: white;
    height: 60px;
}
.complex-header > nav > ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 60px;
    /*background-color: yellow;*/
    position: relative;
    width: 85%;
}
.complex-header > nav > ul > li{
    display: inline-block;
    height:100%;
    margin: 0;
    /*background-color: red;*/
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    float: right;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.complex-header > nav > ul > li:hover{
    background-color: #343437;
}

.complex-header > nav > ul > li:first-child{
    line-height: 15.5px;
}
.complex-header > nav > ul > li >img{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0;
}
.complex-header > nav > ul > li:first-child >img{
    width: 11px;
    height: 11px;
}
.complex-header > nav > ul > li >p{
    width: 100%;
    display: inline-block;
    font-size: 10px;
    margin: 0;
    font-weight: 300;
}
.complex-header > nav > ul > li >h1{
    width: 100%;
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 20px;
}
.complex-header > nav > ul > li:first-child >h1{
    position: relative;
    bottom: 0;
    padding-top: 10px;
}
.complex-header > nav > ul > li:nth-of-type(2):hover{
    border-top: 5px solid #f26547;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(3):hover{
    border-top: 5px solid #00c8f8;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(4):hover{
    border-top: 5px solid #7822cf;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(5):hover{
    border-top: 5px solid #0fb700;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(6):hover{
    border-top: 5px solid #ffc33c;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(7):hover{
    border-top: 5px solid #dd3333;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(8):hover{
    border-top: 5px solid #46c9c5;
    height: 91%;
}
.complex-header > nav > ul > li:nth-of-type(9):hover{
    border-top: 5px solid #444447;
    height: 91%;
}

.complex-header > nav > ul > li:nth-of-type(9){
    /*background-color: #4195fc;*/
    padding: 0;
    width: 10%;
}
.complex-header > nav > ul > li:nth-of-type(9) >h1{
    width: 70%;
    display: inline-block;
    float: right;
    font-size: 14px;
    position: relative;
    top: 10px;
    bottom: 0;
}
.complex-header > nav > ul > li:nth-of-type(9) >img{
    width: 20%;
    float: left;
    position: relative;
    top: 25px;
    left: 15%;
    bottom: 0;
}
/*main div background*******************************/
#cover-main-layer{
    background-image: linear-gradient(to bottom, rgba(210, 210, 216, 0) 30%, rgba(210, 210, 216, 1) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: 100% 1024px;
    background-position: center top;
}
